<footer>
    <div id="footer-1">
        <div class="container">
            <div class="row"> 
                <div class="pull-right arco-sent">
                    <img src="img/Arco_sentence3.png" alt="" height="50" width="300"/>                 
                </div>                                    
                
                <div class="pull-left footer-link">
                    <ul class="list-unstyled">
                        <li><a class="page-scroll" href="#header">Inicio</a></li>
                        <li><a class="page-scroll" href="#location">Localización</a></li>
                        <li><a class="page-scroll" href="#contact">Contacto</a></li>
                    </ul>
                </div>
                
                
            </div>
        </div>
    </div>

    <div id="footer-2">
        <center><img src="img/Arco_sentence.png" alt="" height="60" width="180"/></center>
        <p><center><span class="glyphicon glyphicon-copyright-mark"></span> Copyright 2016. Arcoiris</center></p>
    </div>
</footer> 
